body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

#board {
  position: relative;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.color {
  width: 300px;
  height: 300px;
  cursor: pointer;
  pointer-events: none;
}

#green {
  background-color: green;
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 100% 0 0 0;
}

#green:active {
  background: radial-gradient(ellipse at center, #d2ff52 0%, #91e842 100%);
  box-shadow: inset 0 0 30px #000000;
}

#red {
  background-color: #c30000;
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 0 100% 0 0;
}

#red:active {
  background: radial-gradient(ellipse at center, #ff1a00 0%, #ff1a00 100%);
  box-shadow: inset 0 0 30px #000000;
}

#blue {
  background-color: blue;
  grid-column: 1/2;
  grid-row: 2/3;
  border-radius: 0 0 0 100%;
}

#blue:active {
  background: radial-gradient(ellipse at center, #499bea 0%, #207ce5 100%);
  box-shadow: inset 0 0 30px #000000;
}

#yellow {
  background-color: #ffcc00;
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 0 0 100% 0;
}

#yellow:active {
  background: radial-gradient(ellipse at center, #ffff88 0%, #ffff88 100%);
  box-shadow: inset 0 0 30px #000000;
}

.button {
  width: 25px;
  height: 25px;
  border: solid 2px black;
  border-radius: 100%;
  box-shadow: inset 0 0 2px #000000;
  font-size: 3em;
  cursor: pointer;
}

#start {
  background-color: red;
}

.button:active {
  box-shadow: inset 0 0 5px #000000;
}

#reset {
  background-color: yellow;
}

.button:focus {
  outline: none;
}

.greenClicked {
  background: radial-gradient(ellipse at center, #d2ff52 0%, #91e842 100%);
  box-shadow: inset 0 0 30px #000000;
}

.redClicked {
  background: radial-gradient(ellipse at center, #ff1a00 0%, #ff1a00 100%);
  box-shadow: inset 0 0 30px #000000;
}

.blueClicked {
  background: radial-gradient(ellipse at center, #499bea 0%, #207ce5 100%);
  box-shadow: inset 0 0 30px #000000;
}

.yellowClicked {
  background: radial-gradient(ellipse at center, #ffff88 0%, #ffff88 100%);
  box-shadow: inset 0 0 30px #000000;
}

#center-board {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  left: 25%;
  top: 25%;
  border-radius: 100%;
  border: solid 1em;
  box-sizing: border-box;
  background: silver;
}

#center-board h1 {
  font-size: 3.5em;
}

.row {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding: 3% 0;
}

.button-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score {
  color: lightgreen;
  background-color: black;
  padding: 5px 5px 5px 10px;
  margin-bottom: 2px;
  font-size: 24px;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
}

.start {
  background: radial-gradient(ellipse at center, white 0%, white 100%);
  box-shadow: inset 0 0 0 #000000;
}

.success {
  filter: drop-shadow(0 0 80px green);
}

.failure {
  filter: drop-shadow(0 0 80px red);
}

img {
  width: 200px;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition: all 1s linear;
  display: none;
}

.information {
  color: white;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 600px;
  line-height: 1.2;
  text-align: justify;
}

.information h2 {
  font-size: 3.1em;
  padding-bottom: 5%;
  text-shadow: 0.5px 0.5px grey;
}

.information li {
  font-size: 1.3em;
  padding: 2% 0;
  text-shadow: 0.5px 0.5px grey;
}

.information ol {
  list-style: decimal;
}

.logo {
  background-color: silver;
  width: 60%;
  border-radius: 5px;
}

.flash {
  width: 70px;
  height: 70px;
  background: white;
  transition: all 0.25s;
  border-radius: 100%;
  animation: colors 2s infinite forwards;
}

.splash {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.splash h2 {
  color: white;
  font-style: italic;
  font-size: 2em;
}

.play-wrap {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#play {
  width: 60%;
  height: 80px;
  background: gold;
  font-size: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 0 10px #000000;
  animation: colors 2s infinite linear;
}

#play:active {
  box-shadow: inset 0 0 30px #000000;
}

.splash-logo {
  width: 700px;
  background-color: silver;
  border-radius: 5px;
  border: solid white;
  box-shadow: inset 0 0 30px #000000;
}

@keyframes colors {
  0% {
    background: #c30000;
  }
  25% {
    background: #ffcc00;
  }
  50% {
    background: blue;
  }
  100% {
    background: green;
  }
}

@media (max-width: 450px) {
  .information {
    display: none;
  }
  #board {
    width: 400px;
    grid-gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #board .color {
    width: 100%;
    height: 120px;
    border-radius: 0;
  }
  #center-board {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    left: 25%;
    top: 25%;
    border-radius: 0;
    border: none;
  }
  .button {
    width: 50px;
    height: 50px;
    border: solid 2px black;
    border-radius: 100%;
    box-shadow: inset 0 0 2px #000000;
    margin-bottom: 5px;
  }
  .button-tag p {
    font-size: 1em;
  }
  .splash-logo {
    width: 90%;
  }
  .splash h2 {
    font-size: 1.5em;
  }
  .play-wrap {
    width: 100%;
  }
}

@media (min-width: 451px) and (max-width: 750px) {
  .information {
    display: none;
  }
  #board {
    width: 90vw;
    height: 90vh;
    grid-gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #board .color {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  #center-board {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 25%;
    top: 25%;
    border-radius: 0;
    border: none;
  }
  .button {
    width: 50px;
    height: 50px;
    border: solid 2px black;
    border-radius: 100%;
    box-shadow: inset 0 0 2px #000000;
    margin-bottom: 5px;
  }
  .button-tag p {
    font-size: 1em;
  }
  .splash h2 {
    margin-top: 30px;
  }
  .splash-logo {
    width: 90%;
  }
}

@media (min-width: 751px) and (max-width: 1000px) {
  .information {
    display: none;
  }
  .splash-logo {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */